<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Django App{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <!-- Add custom stylesheets or meta tags here -->
    {% endblock %}
</head>
<body>
    <script>
        const currentPath = window.location.pathname;
        console.log("current path: " + currentPath)
    </script>
    <header>
        <h1>{% block header %}Welcome to My App{% endblock %}</h1>
        <nav>
            <a href="{% url 'movie-list' %}">Bookings</a>
        </br>
            <a href="{{ currentPath }}{% url 'seat-bookings' %}">Seats</a>
        </br>
            <a href="{{ currentPath }}{% url 'booking-history' %}">Seats</a>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        <p>&copy; 2025 My Django App</p>
        {% endblock %}
    </footer>
</body>
</html>